<form method="post" action="{{ path('event_deleteBack', {'codeEvent': event.codeEvent}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.codeEvent) }}">
    <button class="btn">Delete</button>
</form>
