{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1 align="center">Edit Event</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-dark" href="{{ path('event_index') }}">Back to list</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
