{% extends 'baseBack.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Event</h1>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('event_indexBack') }}">Back to list</a>
    </div>
{% endblock %}
