<form method="post" action="{{ path('oeuvre_delete', {'idOeuvre': oeuvre.idOeuvre}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oeuvre.idOeuvre) }}">
    <button class="btn">Delete</button>
</form>
