<form method="post" action="{{ path('exposition_delete', {'codeExpo': exposition.codeExpo}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette exposition ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exposition.codeExpo) }}">
    <button class="btn">Delete</button>
</form>
