{% extends 'baseBack.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Modifier Exposition{% endblock %}

{% block body %}
    <h1>Modifier Exposition</h1>

    {{ include('exposition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('exposition_indexBack') }}">Retourner à la liste des expositions</a>

    {{ include('exposition/_delete_formBack.html.twig') }}
{% endblock %}
