{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nouvelle exposition{% endblock %}

{% block body %}
    <h1>Créer une nouvelle exposition</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('exposition/_form.html.twig') }}

    <a href="{{ path('exposition_index') }}">retourner à la liste des expositions</a>
{% endblock %}
