{% extends 'baseBack.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nouvelle exposition{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer une nouvelle exposition</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('exposition/_form.html.twig') }}

    <a class="btn btn-outline-info" href="{{ path('exposition_indexBack') }}">retourner à la liste des expositions</a>
</div>
{% endblock %}
