{% extends 'baseBack.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nouvelle exposition{% endblock %}

{% block body %}
    <h1>Créer une nouvelle exposition</h1>

    {{ include('exposition/_form.html.twig') }}

    <a href="{{ path('exposition_indexBack') }}">retourner à la liste des expositions</a>
{% endblock %}
