<form method="post" action="{{ path('expo_oeuvre_delete', {'id': expo_oeuvre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ expo_oeuvre.id) }}">
    <button class="btn">Delete</button>
</form>
