{% extends 'base.html.twig' %}

{% block title %}ExpoOeuvre index{% endblock %}

{% block body %}
    <h1>ExpoOeuvre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expo_oeuvre in expo_oeuvres %}
            <tr>
                <td>{{ expo_oeuvre.id }}</td>
                <td>
                    <a href="{{ path('expo_oeuvre_show', {'id': expo_oeuvre.id}) }}">show</a>
                    <a href="{{ path('expo_oeuvre_edit', {'id': expo_oeuvre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('expo_oeuvre_new') }}">Create new</a>
{% endblock %}
