{% extends 'base.html.twig' %}

{% block title %}New ExpoOeuvre{% endblock %}

{% block body %}
    <h1>Create new ExpoOeuvre</h1>

    {{ include('expo_oeuvre/_form.html.twig') }}

    <a href="{{ path('expo_oeuvre_index') }}">back to list</a>
{% endblock %}
