{% extends 'baseBack.html.twig' %}

{% block title %}Edit Reservationevent{% endblock %}

{% block body %}
    <h1>Edit Reservationevent</h1>

    {{ include('reservationevent/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-dark" href="{{ path('reservationevent_indexBack') }}">Back to list</a>

    {{ include('reservationevent/_delete_formBack.html.twig') }}
{% endblock %}
