{% extends 'base.html.twig' %}

{% block title %}Edit Reservationevent{% endblock %}

{% block body %}
    <h1>Edit Reservationevent</h1>

    {{ include('reservationevent/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reservationevent_index') }}">Back to list</a>

    {{ include('reservationevent/_delete_form.html.twig') }}
{% endblock %}
