{% extends 'base.html.twig' %}

{% block title %}New Reservationevent{% endblock %}


{% block body %}
<div class="container">
    <h1 align="center">Create new Reservation</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    {{ include('reservationevent/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('reservationevent_index') }}">Back to list</a>
</div>
{% endblock %}

