{% extends 'baseBack.html.twig' %}

{% block title %}New Reservationevent{% endblock %}

{% block body %}
    <h1>Create new Reservationevent</h1>

    {{ include('reservationevent/_form.html.twig') }}

    <a href="{{ path('reservationevent_indexBack') }}">Back to list</a>
{% endblock %}
