<form method="post" action="{{ path('reservation_expo_deleteBack', {'codeReservatione': reservation_expo.codeReservatione}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette réservation exposition  ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation_expo.codeReservatione) }}">
    <button class="btn">Delete</button>
</form>
