{% extends 'base.html.twig' %}

{% block title %}Edit ReservationExpo{% endblock %}

{% block body %}
    <h1>Edit ReservationExpo</h1>

    {{ include('reservation_expo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reservation_expo_index') }}">back to list</a>

    {{ include('reservation_expo/_delete_form.html.twig') }}
{% endblock %}
