{% extends 'baseBack.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Modifier Réservation Exposition{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier Réservation Exposition</h1>

    {{ include('reservation_expo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reservation_expo_indexBack') }}">Retourner à la liste des expositions</a>

    {{ include('reservation_expo/_delete_formBack.html.twig') }}
</div>
{% endblock %}
