{% extends 'base.html.twig' %}

{% block title %}New ReservationExpo{% endblock %}

{% block body %}
    <h1>Create new ReservationExpo</h1>

    {{ include('reservation_expo/_form.html.twig') }}

    <a href="{{ path('reservation_expo_index') }}">back to list</a>
{% endblock %}
