{% extends 'baseBack.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Nouvelle réservation exposition{% endblock %}

{% block body %}
    <h1>Créer une nouvelle réservation exposition</h1>

    {{ include('reservation_expo/_form.html.twig') }}

    <a href="{{ path('reservation_expo_indexBack') }}">Retourner à la liste des expositions</a>
{% endblock %}
